mat-form-field {
  margin-left: 48px;
}
.totals {
  width: 100%;
  margin-top: 20px;
}
th {
  text-align: left;
}
table td{
  text-align: left;
}
table input[MatInput]:disabled {
  color: black;
}
table input[matInput] {
  margin-left: 10px;
}
td mat-icon {
  alignment: center;
  color: red;
  cursor: pointer;
}


.error-msg {
  background: red;
  color: white;
  text-align: center;
  width: 100%;
}
