.mat-form-field-appearance-fill{
  color: black;
  background: inherit;
}
input[matInput] {
  color: black;
  background: inherit;

}
.totals {
  margin-top: 20px;
  float: right;
  margin-right: 45px;
}
.container {
  padding: 40px;
}
