<div class="container">
  <a mat-flat-button color="primary" [routerLink]="['/categories', 'input', '0']">Add New Category</a>
  <div class="mat-elevation-z1">
    <table class="table table-responsive"mat-table matSort [dataSource]='dataSource'>
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let category"> {{category.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let category"> {{ category.description }}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let category"> <button (click)="editCategory(category.id)" mat-flat-button color="primary">
          Edit
        </button> </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let category"> <button mat-flat-button (click)="deleteCategory(category.id)" class="btn btn-danger">
          Delete
        </button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
