<ng-container class='dialog-container'>
  <mat-dialog-content [formGroup]="itemForm">
    <h1 mat-dialog-title>Item</h1>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input [formControl]="name" matInput>
        <mat-error></mat-error>
      </mat-form-field>
        <mat-form-field class="m-lg-4" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput [formControl]="price">
          <span matSuffix>$</span>
        </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field  appearance="fill">
        <mat-label>Category</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-labelledby="name"
               matInput
               [formControl]="category"
               [matAutocomplete]="auto">
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayName">
          <mat-option  *ngFor="let option of categories$ | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
 <!--   <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea [formControl]="description" matInput></textarea>
      </mat-form-field>
    </div>-->
    <div class="error-msg alert-danger" *ngIf="itemForm.invalid && (itemForm.touched || itemForm.dirty)">
      <span><mat-icon>alert</mat-icon>You have to fill all required fields</span>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [disabled]='itemForm.invalid' (click)="save()" color="primary">
      <mat-icon matPrefix *ngIf='!isLoading'>save</mat-icon>
      <mat-icon>
        <mat-spinner diameter='20' *ngIf="isLoading"></mat-spinner>
      </mat-icon>
      Save</button>
    <button mat-flat-button color="primary" (click)="close()" [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>
</ng-container>
